.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    margin: auto;
    justify-content: center;
    max-width: 560px;

    /* background-color: var(--search-box-bg, white);
      border: none;
      border-radius: calc(0.5 * var(--ntp-realbox-height));
      color: var(--search-box-text);
      font-family: inherit;
      font-size: inherit;
      height: 100%;
      outline: none;
      padding-inline-end: 44px;
      padding-inline-start: 52px;
      position: relative;
      width: 100%; */
  }

  .search_input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    outline: none;
    border: none;
  }

  .search_btn {
    margin-top: 18px;
    display: flex;
    justify-content: center;
  }

  .search_btn .btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  .search_btn button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  }

  .btnhidden {
    display: none !important;
  }
